:root {
    --primary-color: #ccc;
    --background-color: #000;
    --background-secondary-color: #333;
    --link-color: lightblue;
}

html, body {
    background-color: var(--background-color);
    color: var(--primary-color);
    height: 100%;
    font-family: "Noto Sans","Lucida Grande","Lucida Sans","Segoe UI",sans-serif;
}

a {
    color: var(--link-color);
    text-decoration: none;
}

.site-nav {}

.site-content {}

@import
    "includes/lang-table"