html, body {
    background-color: black;
    color: #ccc;
    height: 100%;
    font-family: "Noto Sans","Lucida Grande","Lucida Sans","Segoe UI",sans-serif;
}

a {
    color: lightblue;
    text-decoration: none;
}

.site-nav {}

.site-content {}

.lang-list {
    columns: 12em auto;
    list-style: none;
    padding: 0;
    margin: 0;
}

.lang-list li {
    margin: 0.5em 0;
}

.lang-list img {
    height: 2em;
    vertical-align: middle;
}

@import "includes/pl-card"